/* Trent Duncan */
/* 4/27/2026 */
/* Function Evidence */


/* CSS reset rule */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Define CSS variables */
:root {
  --font-size: 16px;
  --aquamarine: rgb(127, 255, 212);
  --white: #fff;

}





